//! **************************************************************************
// Written by: Map K.39 on Tue Aug 20 15:44:59 2013
//! **************************************************************************

SCHEMATIC START;
COMP "PCI_PERRn" LOCATE = SITE "P134" LEVEL 1;
COMP "PCI_CBE<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "PCI_CBE<1>" LOCATE = SITE "P138" LEVEL 1;
COMP "PCI_CBE<2>" LOCATE = SITE "P124" LEVEL 1;
COMP "PCI_CBE<3>" LOCATE = SITE "P113" LEVEL 1;
COMP "PCI_PAR" LOCATE = SITE "P137" LEVEL 1;
COMP "PCI_TRDYn" LOCATE = SITE "P130" LEVEL 1;
COMP "PCI_IDSEL" LOCATE = SITE "P114" LEVEL 1;
COMP "PCI_GNTn" LOCATE = SITE "P93" LEVEL 1;
COMP "PCI_RSTn" LOCATE = SITE "P87" LEVEL 1;
COMP "PCI_LOCKn" LOCATE = SITE "P132" LEVEL 1;
COMP "LED" LOCATE = SITE "P51" LEVEL 1;
COMP "LED2" LOCATE = SITE "P27" LEVEL 1;
COMP "PCI_SERRn" LOCATE = SITE "P136" LEVEL 1;
COMP "PCI_DEVSELn" LOCATE = SITE "P131" LEVEL 1;
COMP "PCI_STOPn" LOCATE = SITE "P133" LEVEL 1;
COMP "PCI_IRDYn" LOCATE = SITE "P129" LEVEL 1;
COMP "PCI_AD<0>" LOCATE = SITE "P23" LEVEL 1;
COMP "PCI_AD<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "PCI_AD<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "PCI_AD<10>" LOCATE = SITE "P5" LEVEL 1;
COMP "PCI_AD<3>" LOCATE = SITE "P20" LEVEL 1;
COMP "PCI_AD<11>" LOCATE = SITE "P4" LEVEL 1;
COMP "PCI_AD<4>" LOCATE = SITE "P19" LEVEL 1;
COMP "PCI_AD<20>" LOCATE = SITE "P117" LEVEL 1;
COMP "PCI_AD<12>" LOCATE = SITE "P3" LEVEL 1;
COMP "PCI_AD<5>" LOCATE = SITE "P13" LEVEL 1;
COMP "PCI_AD<21>" LOCATE = SITE "P118" LEVEL 1;
COMP "PCI_AD<13>" LOCATE = SITE "P141" LEVEL 1;
COMP "PCI_AD<6>" LOCATE = SITE "P11" LEVEL 1;
COMP "PCI_AD<30>" LOCATE = SITE "P96" LEVEL 1;
COMP "PCI_AD<22>" LOCATE = SITE "P116" LEVEL 1;
COMP "PCI_AD<14>" LOCATE = SITE "P140" LEVEL 1;
COMP "PCI_AD<7>" LOCATE = SITE "P12" LEVEL 1;
COMP "PCI_AD<31>" LOCATE = SITE "P95" LEVEL 1;
COMP "PCI_AD<23>" LOCATE = SITE "P115" LEVEL 1;
COMP "PCI_AD<15>" LOCATE = SITE "P139" LEVEL 1;
COMP "PCI_AD<8>" LOCATE = SITE "P10" LEVEL 1;
COMP "PCI_AD<24>" LOCATE = SITE "P112" LEVEL 1;
COMP "PCI_AD<16>" LOCATE = SITE "P123" LEVEL 1;
COMP "PCI_AD<9>" LOCATE = SITE "P6" LEVEL 1;
COMP "PCI_AD<25>" LOCATE = SITE "P103" LEVEL 1;
COMP "PCI_AD<17>" LOCATE = SITE "P122" LEVEL 1;
COMP "PCI_AD<26>" LOCATE = SITE "P102" LEVEL 1;
COMP "PCI_AD<18>" LOCATE = SITE "P121" LEVEL 1;
COMP "PCI_AD<27>" LOCATE = SITE "P101" LEVEL 1;
COMP "PCI_AD<19>" LOCATE = SITE "P120" LEVEL 1;
COMP "PCI_FRAMEn" LOCATE = SITE "P126" LEVEL 1;
COMP "PCI_AD<28>" LOCATE = SITE "P100" LEVEL 1;
COMP "PCI_CLK" LOCATE = SITE "P91" LEVEL 1;
COMP "PCI_AD<29>" LOCATE = SITE "P99" LEVEL 1;
COMP "PCI_REQn" LOCATE = SITE "P94" LEVEL 1;
PIN Mram_RAM1.A_pins<25> = BEL "Mram_RAM1.A" PINNAME "31";
PIN Mram_RAM1.B_pins<25> = BEL "Mram_RAM1.B" PINNAME "31";
PIN Mram_RAM2.A_pins<25> = BEL "Mram_RAM2.A" PINNAME "31";
PIN Mram_RAM2.B_pins<25> = BEL "Mram_RAM2.B" PINNAME "31";
TIMEGRP PCI_CLK = BEL "PCI_Transaction" BEL "PCI_TargetReady" BEL
        "PCI_DevSelOE" BEL "PCI_DevSel" BEL "PCI_Stop" BEL "PCI_AD_OE" BEL
        "PCI_ConfSpace" BEL "PCI_Transaction_Read_nWrite" BEL "PCI_MEMSpace"
        BEL "PCI_IOSpace" BEL "PCI_TransactionAddr_0" BEL
        "PCI_TransactionAddr_1" BEL "PCI_TransactionAddr_2" BEL
        "PCI_TransactionAddr_3" BEL "PCI_CSCMD_IOenabled" BEL "PCI_MEMBAR1_0"
        BEL "PCI_MEMBAR1_1" BEL "PCI_MEMBAR1_2" BEL "PCI_MEMBAR1_3" BEL
        "PCI_MEMBAR1_4" BEL "PCI_MEMBAR1_5" BEL "PCI_MEMBAR1_6" BEL
        "PCI_MEMBAR1_7" BEL "PCI_MEMBAR1_8" BEL "PCI_MEMBAR1_9" BEL
        "PCI_MEMBAR1_10" BEL "PCI_MEMBAR1_11" BEL "PCI_MEMBAR1_12" BEL
        "PCI_MEMBAR1_13" BEL "PCI_MEMBAR1_14" BEL "PCI_MEMBAR1_15" BEL
        "PCI_CSBAR0_0" BEL "PCI_CSBAR0_1" BEL "PCI_CSBAR0_2" BEL
        "PCI_CSBAR0_3" BEL "PCI_CSBAR0_4" BEL "PCI_CSBAR0_5" BEL
        "PCI_CSBAR0_6" BEL "PCI_CSBAR0_7" BEL "PCI_CSBAR0_8" BEL
        "PCI_CSBAR0_9" BEL "PCI_CSCMD_MEMenabled" BEL "PCI_data_0" BEL
        "PCI_data_1" PIN "Mram_RAM1.A_pins<25>" PIN "Mram_RAM1.B_pins<25>" PIN
        "Mram_RAM2.A_pins<25>" PIN "Mram_RAM2.B_pins<25>";
TIMEGRP PCI_AD_GRP = BEL "PCI_AD<0>" BEL "PCI_AD<10>" BEL "PCI_AD<11>" BEL
        "PCI_AD<12>" BEL "PCI_AD<13>" BEL "PCI_AD<14>" BEL "PCI_AD<15>" BEL
        "PCI_AD<16>" BEL "PCI_AD<17>" BEL "PCI_AD<18>" BEL "PCI_AD<19>" BEL
        "PCI_AD<1>" BEL "PCI_AD<20>" BEL "PCI_AD<21>" BEL "PCI_AD<22>" BEL
        "PCI_AD<23>" BEL "PCI_AD<24>" BEL "PCI_AD<25>" BEL "PCI_AD<26>" BEL
        "PCI_AD<27>" BEL "PCI_AD<28>" BEL "PCI_AD<29>" BEL "PCI_AD<2>" BEL
        "PCI_AD<30>" BEL "PCI_AD<31>" BEL "PCI_AD<3>" BEL "PCI_AD<4>" BEL
        "PCI_AD<5>" BEL "PCI_AD<6>" BEL "PCI_AD<7>" BEL "PCI_AD<8>" BEL
        "PCI_AD<9>";
TIMEGRP PCI_CBE_GRP = BEL "PCI_CBE<0>" BEL "PCI_CBE<1>" BEL "PCI_CBE<2>" BEL
        "PCI_CBE<3>";
TS_PCI_CLK = PERIOD TIMEGRP "PCI_CLK" 30 ns HIGH 50%;
COMP "PCI_DEVSELn" OFFSET = OUT 11 ns AFTER COMP "PCI_CLK";
COMP "PCI_FRAMEn" OFFSET = IN 7 ns BEFORE COMP "PCI_CLK";
COMP "PCI_IDSEL" OFFSET = IN 7 ns BEFORE COMP "PCI_CLK";
COMP "PCI_IRDYn" OFFSET = IN 7 ns BEFORE COMP "PCI_CLK";
COMP "PCI_STOPn" OFFSET = OUT 11 ns AFTER COMP "PCI_CLK";
COMP "PCI_TRDYn" OFFSET = OUT 11 ns AFTER COMP "PCI_CLK";
TIMEGRP "PCI_CBE_GRP" OFFSET = IN 7 ns BEFORE COMP "PCI_CLK";
TIMEGRP "PCI_AD_GRP" OFFSET = IN 7 ns BEFORE COMP "PCI_CLK";
TIMEGRP "PCI_AD_GRP" OFFSET = OUT 41 ns AFTER COMP "PCI_CLK";
SCHEMATIC END;

