//! **************************************************************************
// Written by: Map O.76xd on Wed Aug 28 17:07:37 2013
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "R5" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "T5" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "V15" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "V13" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "T11" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "V12" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "P11" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "N9" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "R" LOCATE = SITE "T10" LEVEL 1;
COMP "W" LOCATE = SITE "V11" LEVEL 1;
PIN W_pin<0> = BEL "W" PINNAME PAD;
PIN "W_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<0>" LOCATE = SITE "A10" LEVEL 1;
SCHEMATIC END;

