NET "CLK"  LOC = "L15"  ;
NET "OUTDATA<0>"  LOC = "V16"  ;
NET "OUTDATA<1>"  LOC = "V15"  ;
NET "OUTDATA<2>"  LOC = "V13"  ;
NET "OUTDATA<3>"  LOC = "N11"  ;
NET "OUTDATA<4>"  LOC = "T11"  ;
NET "OUTDATA<5>"  LOC = "V12"  ;
NET "OUTDATA<6>"  LOC = "P11"  ;
NET "OUTDATA<7>"  LOC = "N9"  ;
NET "OUTDATA<8>"  LOC = "V11"  ;
NET "OUTDATA<9>"  LOC = "T10"  ;
NET "LED<0>"  LOC = "U18"  ;
NET "LED<1>"  LOC = "M14"  ;
NET "LED<2>"  LOC = "N14"  ;
NET "LED<3>"  LOC = "L14"  ;
