# Clocks
NET "CLK"  LOC = "P91" | IOSTANDARD = PCI33_5 ;
#NET "CLK24"  LOC = "P18"  ;  # also used by USB
#NET "CLKOSC"  LOC = "P15"  ;  # socketed oscillator

# Use either the LEDs or the LCD
NET "LED" LOC = "P51";
#NET "LED2" LOC = "P27";

#NET "LCD_E"  LOC = "P38"  ;
#NET "LCD_RS"  LOC = "P27"  ;
#NET "LCD_RW"  LOC = "P28"  ;
#NET "LCD_DB<0>"  LOC = "P40"  ;
#NET "LCD_DB<1>"  LOC = "P41"  ;
#NET "LCD_DB<2>"  LOC = "P42"  ;
#NET "LCD_DB<3>"  LOC = "P43"  ;
#NET "LCD_DB<4>"  LOC = "P47"  ;
#NET "LCD_DB<5>"  LOC = "P48"  ;
#NET "LCD_DB<6>"  LOC = "P50"  ;
#NET "LCD_DB<7>"  LOC = "P51"  ;

# USB
#NET "USB_D<0>"  LOC = "P67"  ;
#NET "USB_D<1>"  LOC = "P62"  ;
#NET "USB_D<2>"  LOC = "P60"  ;
#NET "USB_D<3>"  LOC = "P57"  ;
#NET "USB_D<4>"  LOC = "P39"  ;
#NET "USB_D<5>"  LOC = "P44"  ;
#NET "USB_D<6>"  LOC = "P46"  ;
#NET "USB_D<7>"  LOC = "P49"  ;
#NET "USB_FRD#"  LOC = "P26"  ;
#NET "USB_FWR#"  LOC = "P29"  ;
#NET "USB_PC4"  LOC = "P74"  ;
#NET "USB_PC7"  LOC = "P68"  ;

# PCI
NET "AD<0>"  LOC = "P23" | IOSTANDARD = PCI33_5 ;
NET "AD<1>"  LOC = "P22" | IOSTANDARD = PCI33_5 ;
NET "AD<2>"  LOC = "P21" | IOSTANDARD = PCI33_5 ;
NET "AD<3>"  LOC = "P20" | IOSTANDARD = PCI33_5 ;
NET "AD<4>"  LOC = "P19" | IOSTANDARD = PCI33_5 ;
NET "AD<5>"  LOC = "P13" | IOSTANDARD = PCI33_5 ;
NET "AD<6>"  LOC = "P11" | IOSTANDARD = PCI33_5 ;
NET "AD<7>"  LOC = "P12" | IOSTANDARD = PCI33_5 ;
NET "AD<8>"  LOC = "P10" | IOSTANDARD = PCI33_5 ;
NET "AD<9>"  LOC = "P6" | IOSTANDARD = PCI33_5 ;
NET "AD<10>"  LOC = "P5" | IOSTANDARD = PCI33_5 ;
NET "AD<11>"  LOC = "P4" | IOSTANDARD = PCI33_5 ;
NET "AD<12>"  LOC = "P3" | IOSTANDARD = PCI33_5 ;
NET "AD<13>"  LOC = "P141" | IOSTANDARD = PCI33_5 ;
NET "AD<14>"  LOC = "P140" | IOSTANDARD = PCI33_5 ;
NET "AD<15>"  LOC = "P139" | IOSTANDARD = PCI33_5 ;
NET "AD<16>"  LOC = "P123" | IOSTANDARD = PCI33_5 ;
NET "AD<17>"  LOC = "P122" | IOSTANDARD = PCI33_5 ;
NET "AD<18>"  LOC = "P121" | IOSTANDARD = PCI33_5 ;
NET "AD<19>"  LOC = "P120" | IOSTANDARD = PCI33_5 ;
NET "AD<20>"  LOC = "P117" | IOSTANDARD = PCI33_5 ;
NET "AD<21>"  LOC = "P118" | IOSTANDARD = PCI33_5 ;
NET "AD<22>"  LOC = "P116" | IOSTANDARD = PCI33_5 ;
NET "AD<23>"  LOC = "P115" | IOSTANDARD = PCI33_5 ;
NET "AD<24>"  LOC = "P112" | IOSTANDARD = PCI33_5 ;
NET "AD<25>"  LOC = "P103" | IOSTANDARD = PCI33_5 ;
NET "AD<26>"  LOC = "P102" | IOSTANDARD = PCI33_5 ;
NET "AD<27>"  LOC = "P101" | IOSTANDARD = PCI33_5 ;
NET "AD<28>"  LOC = "P100" | IOSTANDARD = PCI33_5 ;
NET "AD<29>"  LOC = "P99" | IOSTANDARD = PCI33_5 ;
NET "AD<30>"  LOC = "P96" | IOSTANDARD = PCI33_5 ;
NET "AD<31>"  LOC = "P95" | IOSTANDARD = PCI33_5 ;
NET "CBE<0>"  LOC = "P7" | IOSTANDARD = PCI33_5 ;
NET "CBE<1>"  LOC = "P138" | IOSTANDARD = PCI33_5 ;
NET "CBE<2>"  LOC = "P124" | IOSTANDARD = PCI33_5 ;
NET "CBE<3>"  LOC = "P113" | IOSTANDARD = PCI33_5 ;
NET "DEVSELn"  LOC = "P131" | IOSTANDARD = PCI33_5 ;
NET "FRAMEn"  LOC = "P126" | IOSTANDARD = PCI33_5 ;
NET "IRDYn"  LOC = "P129" | IOSTANDARD = PCI33_5 ;
NET "RSTn"  LOC = "P87" | IOSTANDARD = PCI33_5 ;
NET "TRDYn"  LOC = "P130" | IOSTANDARD = PCI33_5 ;

# general IOs
#NET "NP86"  LOC = "P86"
#NET "NP85"  LOC = "P85"
#NET "NP84"  LOC = "P84"
#NET "NP83"  LOC = "P83"
#NET "NP80"  LOC = "P80"
#NET "NP79"  LOC = "P79"
#NET "NP78"  LOC = "P78"
#NET "NP77"  LOC = "P77"
#NET "NP76"  LOC = "P76"
#NET "NP75"  LOC = "P75"
#NET "NP50"  LOC = "P50"
#NET "NP48"  LOC = "P48"
#NET "NP47"  LOC = "P47"
#NET "NP43"  LOC = "P43"
#NET "NP42"  LOC = "P42"
#NET "NP41"  LOC = "P41"
#NET "NP40"  LOC = "P40"
#NET "NP66"  LOC = "P66"
#NET "NP65"  LOC = "P65"
#NET "NP64"  LOC = "P64"
#NET "NP63"  LOC = "P63"
#NET "NP59"  LOC = "P59"
#NET "NP58"  LOC = "P58"
#NET "NP56"  LOC = "P56"
#NET "NP54"  LOC = "P54"
#NET "NP38"  LOC = "P38"
#NET "NP28"  LOC = "P28"

# PCI specifies 7ns Tsu for inputs and 11ns Tco for outputs
NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 30 ns HIGH 50 %;
#OFFSET = IN 7 ns BEFORE "CLK"  ;
#OFFSET = OUT 11 ns AFTER "CLK"  ;

NET "FRAMEn" OFFSET = IN 7 ns BEFORE "CLK"  ;
NET "IRDYn" OFFSET = IN 7 ns BEFORE "CLK"  ;
INST "CBE<*>" TNM = "CBE_GRP";
TIMEGRP "CBE_GRP" OFFSET = IN 7 ns BEFORE "CLK"  ;

NET "DEVSELn" OFFSET = OUT 11 ns AFTER "CLK"  ;
NET "TRDYn" OFFSET = OUT 11 ns AFTER "CLK"  ;

INST "AD<*>" TNM = "AD_GRP";
TIMEGRP "AD_GRP" OFFSET = IN 7 ns BEFORE "CLK"  ;

# The AD benefits from the PCI turnaroud cycle on reads to have an extra clock to deliver the output
TIMEGRP "AD_GRP" OFFSET = OUT 41 ns AFTER "CLK"  ;  # use 41ns instead of 11ns
